@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans_Condensed-Regular.ttf") format("truetype");
}

:root{
    --fuenteHeading: 'PT Sans',sans-serif;
    --fuenteParrafos: 'Open sans',sans-serif;

    --primario: #784D3C;
    --blanco: #fff;
    --negro: #000;
    --gris:#e1e1e1;
}

html{
    box-sizing: border-box;
    font-size:62.5%;/*1rem = 10px*/
}

*,*:before,*::after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;/*Tamaño de la fuente*/
    line-height: 2;/*El interlineado*/
}

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1{
    font-size: 4.8 rem;
}
h2{
    font-size: 4 rem;
}
h3{
    font-size: 3.2 rem;
}
h4{
    font-size: 2.8 rem;
}
img{
    max-width: 100%;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

.header{
    background-image: url('../img/banner.jpg');
    height: 60rem; /*Para que se vea la imagen de fondo*/
    background-size: cover;/*Para que cubra toda la imagen*/
    background-repeat: no-repeat;/*Para que la imagen no se repita*/
    background-position: center center; /*Doble center para que se centre vertical y horizontal esto es cuando es cover*/
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color:var(--blanco)
}

.logo{
    color:var(--blanco)
}
.logo__nombre{
    font-weight: normal;/*400*/
}
.logo__bold{
    font-weight: bold; /*700*/
}

.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type{ /*Seleccionar el ultimo elemento de la clase*/
    border: none;
    margin-bottom: 0;
}

.boton{
    font-family: var(--fuenteHeading); /*Fuente del texto*/
    color: var(--blanco); /*Color del texto*/
    text-align: center; /*Para que aline el texto en el centro horizontal*/
    padding: 1rem 3rem; /*1rem de arriba y abajo y 3 rem de izquierda y derecha*/
    font-size: 1.8rem; /*Para darle tamaño al texto*/
    text-transform:uppercase;/*Para transformar el texto en mayusculas*/
    font-weight: bold; /*Para hacer el texto en negritas*/
    margin-bottom: 2rem; /*Para mantener el espacio entre blogs*/
    display: block; /*Cuando sea movil debe de ser completa la pantalla*/
}

.boton--primario{
    background-color: var(--negro);
}
.boton--secundario{
    background-color: var(--primario);
}

.cursos{
    list-style: none;
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    font-family: var(--fuenteHeading);
    font-size: 2rem;
}

.widget-curso:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

.widget-curso__label{
    font-weight: bold;
}
.widget-curso__precio{
    font-weight: normal;
}

@media (min-width:780px){ /*AQUI APLICA CUANDO SEA GRANDE*/
    .boton{
        display: inline-block;
        margin-bottom: 2rem;/*No funciona con inline se debe de colocar inline-block*/
    }
    
    .barra{
        display: flex; /*PARA INICIALIZAR EL FLEX*/
        justify-content: space-between; /*Para alinear horizontalmente*/
        align-items: center;/*Para alinear verticalmente*/
    }
    
    .navegacion{
        display: flex;
        gap: 2rem;
    }

    .header__texto{
        margin-top: 15rem;
    }

    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}